spring:
  application:
    name: ops.zuul

server:
  port: 8080

zuul:
  ignoredServices: '*'
  prefix: /api
  routes:
    api: /movie/**

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka
  instance:
    instanceId: ${spring.application.name}:${vcap.application.instance_id:${spring.application.instance_id:${random.value}}}
    preferIpAddress: true

management:
  security:
    enabled: false

security:
  basic:
    enabled: false

