version: '3'
services:
  # ------------
  # infra
  # ------------
  rabbitmq:
    image: rabbitmq:3-management
    restart: always
    ports:
      - "5672:5672"
      - "15672:15672"

  # ------------
  # ops
  # ------------
  eureka:
    image: tutorial-spring-cloud/eureka:0.1
    restart: always
    ports:
      - "8761:8761"

  hystrix:
    image: tutorial-spring-cloud/hystrix:0.1
    restart: always
    ports:
      - "7979:7979"
    environment:
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka:8761/eureka

  turbine:
    image: tutorial-spring-cloud/turbine:0.1
    restart: always
    ports:
      - "8989:8989"
    environment:
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka:8761/eureka
      RABBITMQ_HOST: rabbitmq

#  zuul:
#    image: tutorial-spring-cloud/zuul:0.1
#    restart: always
#    ports:
#      - "8080:8080"
#    environment:
#      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka:8761/eureka

  # ------------
  # service
  # ------------
#  api:
#    image: tutorial-spring-cloud/movie-api:0.1
#    restart: always
#    environment:
#      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka:8761/eureka

  composite:
    image: tutorial-spring-cloud/movie-composite:0.1
    restart: always
    ports:
      - "8080:8080"
    environment:
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka:8761/eureka
      RABBITMQ_HOST: rabbitmq

  movie:
    image: tutorial-spring-cloud/movie:0.1
    restart: always
    environment:
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka:8761/eureka

#  cast:
#    image: tutorial-spring-cloud/cast:0.1
#    restart: always
#    environment:
#      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka:8761/eureka
#
#  rate:
#    image: tutorial-spring-cloud/rate:0.1
#    restart: always
#    environment:
#      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka:8761/eureka
