spring:
  application:
    name: cast

  # database
  datasource:
    url: jdbc:h2:mem:cast
    platform: h2
    username: sa
    password:
    driverClassName: org.h2.Driver
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_ddl: true
        show_sql: true
        use_sql_comments: true
        format_sql: true

server:
  port: 0

delayer:
  defaultMinMs: 20
  defaultMaxMs: 40

eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_URI:http://localhost:8761/eureka}
  instance:
    instanceId: ${spring.application.name}:${vcap.application.instance_id:${spring.application.instance_id:${random.value}}}
    preferIpAddress: true